.footer-1{
    display: flex;
    margin: 0 2%;

}

.universal-margin{
    margin: 0 7%;
}
body{

    font-family: 'Lato', sans-serif;

}
.register-div{
    
    flex: 5;

}
.social{
   flex: 5;

}
#register-btn{
    border: 0;
    background-color: black;
    color:  white;
    padding: 12px 13px;
    margin: 3% 5%;
}
.footer-1 i{
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  color: white;
}
.fa-facebook-f{
    background-color: #4465a2;
}
.fa-instagram{
    background-color: #da4b76;
}
.fa-twitter{
    background-color: #3ab1db;
}
.fa-pinterest{
    background-color: #e84126;
}
.fa-snapchat{
    background-color: #fcef3c;
    color: black;
}


/* Footer middle-section */


.footer-middle{
    display: flex;
}
.footer-middle>div:nth-child(1){
    flex: 4;
}
.footer-middle>div:nth-child(2){
    flex: 2;
}
.footer-middle>div:nth-child(3){
    flex: 2;
}
.footer-middle>div:nth-child(4){
    flex: 2;
}

a{
    text-decoration: none;
    color: black;
    line-height: 35px;
}

.footer-middle i{
    margin: 9px;
}

/* footer bottom-section */

.footer-bottom{
    display: flex;
}
.footer-bottom>div{
    flex: 5;
}
.pay-logo{
    width: 10%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;


    
}
.footer-bottom h1, h4{
   margin:  0px;
}
.footer-bottom span{
    font-size: 14px;
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
    
    .social{
        display: none;
        
    }
    
}
@media only screen and (min-width: 400px) and (max-width: 1100px) {

    .social{
        flex:3 ;
        /* flex: none; */
        
    }
    .universal-margin{
        margin:0 1%;
    }
    
}
@media only screen and (min-width: 0) and (max-width: 800px) {

   .footer-bottom>div:nth-child(2){
       display: none;
   }
    
}